Examen/DTD/DU4-Exercise15/manufacturer.dtd

<!ELEMENT manufacturer (order)>
<!ELEMENT order (tractor+)>
<!ELEMENT tractor (component+)>
<!ELEMENT component (delivery_date,fragil?,weight,serial_number,maximum_km?)>
<!ATTLIST component manufacturer_name NMTOKEN #REQUIRED>
<!ELEMENT delivery_date (day?,month,year)>
<!ELEMENT day EMPTY>
<!ELEMENT month EMPTY>
<!ELEMENT year EMPTY>
<!ELEMENT fragil EMPTY>
<!ELEMENT weight EMPTY>
<!ATTLIST weight unit (kilos|grams) #REQUIRED>
<!ELEMENT serial_number EMPTY>
<!ELEMENT maximum_km EMPTY>