Tema_3/DTD/DU4-Exercise10/folks.dtd

<!ELEMENT folks (person)*>
<!ELEMENT person (name)>
<!ATTLIST person pin ID #REQUIRED> <!--ID para identificar a la persona-->
<!ATTLIST person friend IDREF #IMPLIED> <!-- IDREF porque só hai un  -->
<!ATTLIST person likes IDREFS #IMPLIED> <!-- IDREFS porque osn varios -->
<!ELEMENT name (#PCDATA)>